header{
    .menu-color{
        background-color: rgb(255, 232, 191);
        div{
            a{
                img{
                    height: 40px;
                    width: auto;
                }   
            }
        }
    }
}