////*INDEX*////
/// 
.first{
    @include flexbox (flex, center, center, column);
    background-image: url(../img/gatoraton.jpg);
    background-size:cover ;
    background-attachment: fixed;
    height: 85vh;
    color:rgb(255, 255, 255);
    transition: all 400ms ease-out;
    &:hover{
    filter: brightness(1.15) saturate(1.1)
    drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
    }
    div{
        align-items: center;
        text-align: center;
        width: 40%;
        margin-top: 35px;
        h1{
            font-size: 50px;
            font-weight: 600;
            color: nth($colores, 4);
            margin: 0;
        }
        h2{
            font-size: 30px;
            margin-top: -5px;
            margin-bottom: 15px;
        }
    }
}
.second{
    @include flexbox (flex, center, center, column);
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: -60px;
    margin-bottom: 60px;
    padding: 30px;
    text-align: center;
    box-shadow:  2px 2px 3px 1px rgba(20, 20, 20, 0.2);
    width: 70%;
    border-radius: 6px;
    h2{
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 25px;
    }
    p{
        span{
            font-style: oblique;
            color: $color-acento;
            font-weight: 600;
        }
    }
}
//*Galeria de fotos del index y Mi arte - GRID

.pintura-intro{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}
.galeria-miarte{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 25px ;
    margin-bottom: 60px;
    place-items: center;
    .contenedor-card{
        width: 250px;
        height: 350px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 6px;
        position:relative;
        box-shadow: 7px 6px 9px -3px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 7px 6px 9px -3px rgba(0,0,0,0.4);
        -moz-box-shadow: 7px 6px 9px -3px rgba(0,0,0,0.4);
        img{
            position:relative;
            width: 250px;
            height: 350px;
            transition: all 400ms ease-out;
            }
        //*Fil del index en generales
        /*.scale{
        //*filtro de page Mi Arte en Mi arte main
        /*.capa{*/

    }            
}
.boton-galeria-miarte{
    @extend %flex-center;
    margin-bottom: 50px;
}

//*Cards de Cursos*//

.dibujo-card{
    background-color: $color-primario-opacidad;
    padding: 20px 0px 100px 0px;
    margin-top: 50px;
    h2{
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }
    .ilustracion{
        @include flexbox (flex, space-evenly, center, 0);
        background-color: #f1f1f1;
        border: 2px solid $color-bordes;
        border-radius: 6px;
        height: 300px;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 15px;
        }
        img{
            height: 200px;
            margin: 30px;
            border-radius: 6px;
            margin-right: 15px;
        }
        div{
            text-align: left;
            width: 50%;
            p{
                font-size: 17px;
                margin-bottom: 15px;
                
            }
        }
    .clases{
        flex-direction: row-reverse;
        }
        .clases-texto{
            text-align: right;
            }
}

////////////////***********PAGINAS**********//////////
/// 1.ACERCA DE MI
/// 2.MI ARTE
/// 3.CURSOS 
/// 4.CONTACTO
 
///**1.ACERCA DE MI

.presentacion{
    @include flexbox (flex, space-evenly, center,0); 
    border-radius: 6px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    gap: 20px;
    .presentacion-imagenes{
        margin-top: 50px;
        background-color: $color-primario;
        width: 40%;
        margin: auto;
        transition: all 400ms ease-out;
        /*filtro.scale en generales*/
        
    }
    .presentacion-texto{
        padding: 15px;
        h2{
            font-size: 18px;
            .span-size{
                font-size: 25px;
                font-weight: 600;
            }
            .span-color{
                color: $color-acento;
                font-weight: 600;
            } 
        }
    }
}
.pasiones{
    background-color: $color-primario-opacidad;
    padding: 55px;
    margin: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
    h3{
        width: 90%;
        margin: auto;
        font-size: 15px;
    }
}
.aspectos{
    @include flexbox (flex, center, center,0);
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    img{
        width: 45%;
        padding: 15px;
    }
}

///**1.MI ARTE

.carrousel-dibujo{
    div{
        .carousel-inner{
            .carousel-item{
                img{
                    filter: brightness(60%);
                    -webkit-filter: brightness(60%);
                    -moz-filter: brightness(60%);
                    }
                div{
                    .texto-carrusel{
                        color: #ffffff ;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
/// galeria compartida con index, filtro opacidad)
.galeria-miarte{
    .contenedor-card{
        .capa{
            position: absolute;
            width: 250px;
            height: 350px;
            background: rgba(0, 0, 0, 0.763);
            transition: all 1000ms ease-out;
            opacity: 0;
            bottom: 0;
            &:hover{
                opacity: 1;
            }
            h3{
                font-size: 20px;
                color: #fff;
                font-weight: 400;
                text-align: center;
                margin-top: 150px;
            }
        }
    }            
}

.pintura-color{
    background-color: $color-primario;
    color: #ffffff;
    margin-top: 60px;
    padding: 60px 30px 100px 30px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    div{ 
        overflow: hidden;
        img{
            /*filtro scale*/
            transition: all 400ms ease-out;
            width: 100%;
        }    
    }
}
///**3.CURSOS
.titulo-cursos{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.cursos{
    border: 2px solid $color-bordes;
    background-color: #f1f1f1;
    border-radius: 6px;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
    .curso-cientifica{
        @include flexbox (flex, space-evenly, center, 0);
        border-radius: 6px;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        padding: 15px;
        img{
            width: 60%;
            border-radius: 6px;
            
        }
        div{
            h3{
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 15px
            }
            h4{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }  
    .descripcion{
        @include flexbox (flex, center, center, column);
        width: 90%;
        margin: auto;
        p{
            text-align: center;
            font-size: 18px;
            padding: 30px;
            span{
                font-weight: 600;
            }
        }
    }  
}    

///**4.CONTACTO
.logo-contacto{
    @include flexbox (flex, center, center, column);
    margin-bottom: 60px;
        h3{
            font-size: 25px;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        div{
            img{
                width: 50px;
                height: auto;
                margin: 10px;
                }
            .boton-mail{
                img{
                    &:hover{
                        background-color: #DB4437;
                        padding: 5px;
                        border-radius: 6px;
                    }
                }
            }       
            .boton-whats{
                img{
                    &:hover{
                        background-color: #25D366;
                        padding: 6px;
                        border-radius: 6px;
                    }
                }
            }
            .boton-ig{
                img{
                    &:hover{
                        background-color: RGB(193, 53, 132);
                        padding: 6px;
                        border-radius: 6px;
                    }
                }
            }    
        }
    }
.formulario-mapa{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-bottom: 60px;
    .formulario{
        display: flex;
        flex-direction: column ;
        h3{
            font-size: 20px;
            margin-bottom: 15px;
        }
        .formulario-caja{
            display: flex;
            flex-direction: column;
            margin-bottom:10px;
            background-color: $color-primario-opacidad;
            padding: 20px;
            border-radius: 6px;
            div{
                margin-bottom: 15px;
                label{
                    display: block;
                    padding-left: 15px;
                    text-align: left;
                }
                input[type="text"],input[type="email"]{
                    width: calc(100% - 10px); /* Toma el ancho completo menos el margen derecho */
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                }
                .comentario{
                    height: 100px;
                }
                .boton-formulario{
                    border: none;
                }
            }
        }
    }
    .mapa{
        @include flexbox (flex, 0, center, column);
        margin-bottom: 60px;
        h3{
            font-size: 20px;
            margin-bottom: 15px;
        }
        iframe{
            
            border-radius: 6px;
        }
    }
}
